.weather-widget {
  --c-white: #fff;
  --c-cream-white: #e6e6e6;
  --c-grey: #bfbfbf;
  --c-dark-blue: #111d3e;
  --c-violet-blue: #3e59b9;
  --c-green: #00bf40;
  --c-red: #ff3333;
  --c-dark-grey: #393d47;
  --c-black: #000; 
}